.contact-us-page-top-section-container {
  padding: 7rem;
}

.contact-us-page-top-section-left-content small {
  color: #bda588;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 12px;
  font-weight: bold;
}

.contact-us-page-top-section-left-content h2 {
  font-size: 40px;
  margin: 2rem 0;
  color: #173e62;
}

.contact-us-page-top-section-left-content h3 {
  font-size: 20px;
  margin: 2rem 0;
  color: #173e62;
}

.contact-us-page-top-section-left-content p {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contact-us-page-top-section-right-content {
  position: relative; /* Ensures markers are positioned within this area */
}

.location-marker {
  position: absolute;
  width: 20px; /* Adjust size */
  height: 20px; /* Adjust size */
  background-color: #bda588; /* Adjust color */
  border-radius: 50%; /* Makes it circular */
  border: 2px solid #fff; /* Optional for contrast */
  cursor: pointer;
  transform: translate(-50%, -50%); /* Center marker over point */
}

.location-marker:hover {
  background-color: #00b289; /* Optional hover effect */
}

.custom-tooltip {
  background-color: #bda588 !important; /* Change this to your desired color */
  color: #fff !important; /* Text color */
  border: none; /* Remove default border */
  padding: 8px 12px; /* Adjust padding */
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .contact-us-page-top-section-container {
    padding: 3rem 1rem;
  }

  .contact-us-page-top-section-left-content h2 {
    font-size: 30px;
  }
  .contact-us-page-top-section-right-content img {
    height: 300px;
  }
  .location-marker {
    width: 15px; /* Adjust size */
    height: 15px;
  }
}
